/* Main Tag */
main {
  position: absolute;
  top: 0;
  z-index: -1;

  width: inherit;
  height: inherit;
}

.main-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  width: inherit;
  height: inherit;
}


/* First main child */
.main-block.first {
  text-align: center;
  
  color: var(--text_color_white);
  background-image: var(--bg_image_path);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.main-block.first h1 {
  font-size: 10vmin;
}

.main-block.first p {
  font-size: 2.5vmin;
  width: 80%;
}



/* Projects */
.main-block.project {
  display: flex;
  height: auto;
  
  background-color: var(--bg_color);
}


.project-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 40px;

  margin: 50px auto;

  width: 70%;
}

.project-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;

  border: 2px solid transparent;
}

.project-item .left-box {
  width: 30vh;
  height: 30vh;
  background-color: var(--primary_color);
}

.project-item .right-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  
  width: 70%;
  text-align: justify;
  /*border: 1px solid var(--primary_color);*/
}

.right-box h1 {
  font-size: 24px;
  color: var(--text_color_white);
}

.right-box h1:hover {
  color: var(--primary_color);
  cursor: pointer;
}

.right-box p {
  font-size: 14px;
  color: var(--text_color_black);
}


@media screen and (max-width: 600px) {
  .project-item {
    justify-content: center;
  }

  .project-item .right-box,
  .project-item .left-box {width: 100%;}

  .right-box h1 {
    text-align: center;
  }
}


