/* Convention */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century Gothic;
}

html {scroll-behavior: smooth;}
body {
  width: 100%;
  height: 100%;
}
ul {list-style-type: none;}
a {text-decoration: none;}


/* Main Tag */
main {
  position: absolute;
  top: 0;
  z-index: -1;

  width: inherit;
  height: inherit;
}

.main-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}


/* First Main Child */
.main-block.first {
  color: var(--text_color_white);

  background-image: url("../images/backgrounds/frontpage-desktop.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.main-block.first h2 {
  margin-top: 20px;
}

.main-block.first img {
  width: 200px;
  height: 200px;
}


/* Description Class */
.main-block.desc {
}

.desc-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 80%;

  text-align: justify;
  /*box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);*/
}

.desc-container h1 {
  margin-bottom: 30px;
  border-bottom: 2px solid tomato;
	
  color: tomato;
}

.desc-container p {
  color: var(--text_color_black);
}


@media screen and (max-width: 600px) {
  .main-block.desc {
    
  }

  .desc-container {
    flex-flow: column wrap;
	
    width: 80%;
    height: 100%;
  }

}