/*============================================ Convention ============================================================*/
body {background-color: var(--bg_color);}
h1 {
  margin-bottom: 10px;
  color: var(--text_color_title);}

h2 {color: var(--text_color_subtitle);}

p {
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5;
  color: var(--text_color_paragraph);}

.app__intro {grid-area: intro;}
.app__main {grid-area: main;}
.app__result {grid-area: result;}

.app > div {

}

.app {
  display: grid;
  grid-template-areas:
    "intro result"
    "main  result";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  margin: 8vh auto 0;

  max-width: 90vw;
  min-height: 90vh;
}

/* Container inside app */
.container {
  margin: 10px;
  height: 100%;
}

/*============================================= Main App =============================================================*/
.app__main {
  display: flex;
  flex-flow: column nowrap;
}

.app__main button {
  padding: 10px 0;
  width: 120px;

  self-align: flex-end;
}

.app__main button:active {
  background-color: black;
  color: white;
}

/*============================================= App Output ===========================================================*/

.app__result {
  min-height: inherit;
  border-left: 1px solid white;
}

.app__result .container {
  position: relative;
}

.app__result #loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  outline: none;
  resize: none;

  width: 100%;

  font-size: 14px;

  border: none;
  color: var(--bg_color);
}

textarea:focus {
  box-shadow: 0 0 5px rgba(232, 160, 53, 1);
}

/*============================================= Media Query ==========================================================*/

@media only screen and (max-width: 650px) {
    .app {
      grid-template-columns: 1fr;
      grid-template-areas:
        "intro"
        "main"
        "result";
      }

    .app__main {border-bottom: 1px solid white;}
    .app__result {border-left: none;}
    .container {margin-bottom: 40px;}
  }


