/* Main Tag Section */
main {
  width: 100%;
  height: 100%;
}

/* Intro Section */

.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  /* Background Image */
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.4)),
					  var(--bg_image_path);

  background-origin: border-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

  width: 100%;
  height: 100vh;
}

.intro__title {
  width: 100%;
}

.intro__title h1{
  color: var(--text_color_title);
  font-size: 10vmin;
  text-align: center;
  letter-spacing: 2px;
}

.intro__title p {
  color: var(--text_color_title);
  font-size: 2.5vmin;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}

.intro__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

  width: 100%;
	margin-top: 20px;

}

.intro__buttons button {
  display: inline-block;
}

.intro__buttons p {
  padding: 10px 0;
  width: 120px;
  text-align: center;
  font-size: .9em;
  
  color: white;
  background-color: var(--primary_color);
  transition: 0.1s linear;
}

.intro__buttons p:hover {
  color: white;
  background-color: var(--shade_color);
}

.intro__img-src {
  position: absolute;
  left: 0;
  bottom: 0;

  margin: 10px;

  font-size: .8em;
  color: white;
}


/* About Section */
.about {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  min-height: 60vh;

  background-color: var(--secondary_color);
}
.about h2 {
  color: var(--text_color_subtitle);
}
.about p {
  color: var(--text_color_paragraph);
  font-size: 0.9em;
  line-height: 1.5;
}

.about__profile, .about__desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 40px 40px;
}


.about__profile {
  max-width: 300px;
  text-align: center;
}
.about__profile img {
  margin-bottom: 10px;
  width: 180px;
  height: 180px;
}
.about__profile h2 {font-weight: normal;}


.about__desc {
  max-width: 500px;

  text-align: justify;
}
.about__desc h2 {
  font-size: 2em;
  text-align: center;
}
.about__desc p {margin: 40px 0}
.about__desc button {
  align-self: flex-end;
  padding: 10px 20px;

  font-weight: bold;
  color: var(--text_color_title);
  background-color: var(--tertiary_color);
}


/* Projects Section */
.projects {
  display: inline-block;
  width: inherit;
  min-height: 130vh;

  background-color: var(--bg_color);
}

.projects h2 {
  margin: 40px 0 60px;

  font-size: 2em;
  text-align: center;
  color: var(--text_color_title);
}

.projects__deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  margin: 20px auto;
  gap: 20px;

  height: auto;
}

.projects__card {
  width: 300px;
  height: 300px;

  background-color: var(--bg_color);
  box-shadow: 0 10px 10px black;
}

.projects__card h3 {
  font-weight: normal;
  text-align: center;
  color: var(--text_color_subtitle);
}

/* Footer Tag */